/* CSS Document */
.clearFix:after { /* for modern browsers */
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearFix { /* for IE7/Win */
	min-height:1px;
}
* html .clearFix { /* for IE5-6/Win */
	height:1px;
}
* html>body .clearFix { /* for IE5/Mac */
	height:auto;
	display:inline-block;
}
body {
	margin-left: 0px;
	margin-top: 0px;
}
.hasIcon {
    padding-left:24px;
    background-repeat:no-repeat;
    background-position:4px 50%;
}
#home, #home:visited {
    background-image: url(../images/home.gif);
}
#catalogos, #catalogos:visited {
    background-image: url(../images/cabinet.png);
}
#sopt, #sopt:visited {
    background-image: url(../images/PCI-card.png);
}
#const, #const:visited {
    background-image: url(../images/worker.png);
}
#salir, #salir:visited {
    background-image: url(../images/salir.gif);
}