body {
	background-color:#FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
}

a, img, .lienBleu, .norm, td, b {  
	text-decoration: none;
	border-width: 0px;
	font-family: Verdana;
	font-size: 8pt;
}

b {
	font-style: blod;
}

a,a:visited, .lienBleu {
	cursor: pointer;
	color: blue;	
}

a:hover {
	color: red;
}

a.deco {
	color:#FFFFFF;
	font-size: 8pt;
}
input 
{
	cursor: pointer;
}

.lienBleu  {
	color: blue;
}

table.headfoot 
{
	background-color: #010066;
	border-color: #010066;
	border-spacing: 0px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width:100%;
}

.boutonP {
	background-color: #C7D9F5;
	border-color: #A1B1F9;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 8pt;
}

.boutonG {
	background-color: #C7D9F5;
	border-color: #A1B1F9;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.login{
background-image:url(../images/fondo_login.jpg);
}
